#aboutme {
  background-color: #660033;
  color: rgba(255, 106, 6, 0.938);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
}

.bio {
  width: 70vw;
  height: auto;
  margin: 10vh 0 0 8vw;
  font-size: 1.7vw;
  font-weight: 500;
}

.bio p {
  margin: 0;
}

.bioName {
  font-size: 2.5vw;
  font-weight: 700;
}

.bioLine.bioName {
  padding-left: 3vw;
}

.bioStatus {
  font-size: 2vw;
  font-weight: 600;
}

.bioDetail {
  font-size: 1.7vw;
  font-weight: 500;
  padding: 3vh 0 0 3vw;
}

.colorYellow {
  color: rgba(255, 238, 6, 0.877);
}

.skillLine {
  padding-left: 16vw;
}



.aboutmeIcons {
  margin-left: 60vw;
}

.aboutmeIcons a {
  padding-right: 2vw;
  color: #17e9e0 !important;
  font-size: 3.1vw;
}

.aboutmeIcon:hover, .aboutmeIcon:active {
  font-size: 3.5vw;
}