#aboutme {
  background-color: #660033;
  color: #f38ba5;
  width: 100vw;
  height: 100vh;
  z-index: -1;

  display: grid;
  grid-template-columns: 80vw 20vw;
  grid-template-rows: 5vh 95vh;
  grid-template-areas:
    "nav nav"
    "bio icons";
}

.bio {
  grid-area: bio;
  width: 70vw;
  height: auto;
  margin: 13vh 0 0 8vw;
  font-size: 1.7vw;
  font-weight: 500;
}

.bio p {
  margin: 0;
}

.bioName {
  font-size: 2.5vw;
  font-weight: 700;
}

.bioLine.bioName {
  padding-left: 3vw;
}

.bioStatus {
  font-size: 2vw;
  font-weight: 600;
}

.bioDetail {
  font-size: 1.7vw;
  padding: 3vh 0 0 3vw;
  font-weight: 600;
  line-height: 1.3;
}

.skillDetail {
  font-size: 1.6vw;
  padding: 4vh 0 0 3vw;
  font-weight: 500;
  line-height: 1.2;

}

.colorYellow {
  color: #e3e2df;
}

.skillLine {
  padding-left: 16vw;
}



.aboutmeIcons {
  grid-area: icons;
  justify-self: start;
  padding: 20vh 0 0 4vw;
  text-align: center;
}

.aboutmeIcons a {
  color: #e3e2df;
  font-size: 3.1vw;
}

.aboutmeIcon:hover, .aboutmeIcon:active {
  font-size: 3.5vw;
}

.resume {
  font-size: 1vw;
}