#aboutme {
  background-color: rgb(255, 106, 6);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
}

.bio {
  width: 50vw;
  height: 60vh;
  margin: 20vh 0 0 25vw;
  font-size: 1.7vw;
  font-weight: 500;
}

.bio p {
  margin: 0;
}

.bioName {
  font-size: 2.5vw;
  font-weight: 700;
}

.bioStatus {
  font-size: 2vw;
  font-weight: 600;
}

.bioDetail {
  font-size: 1.7vw;
  font-weight: 500;
}





.aboutmeIcons a {
  padding-right: 2vw;
  color: #17e9e0 !important;
  font-size: 3.1vw;
}

.aboutmeIcon:hover, .aboutmeIcon:active {
  font-size: 3.5vw;
}