#blog {
  padding: 5vh 5vw 5vh 5vw;
  display: grid;
  grid-template-columns: 28vw 28vw 28vw;
  grid-column-gap: 3vw;
  grid-row-gap: 4vh;
}

.blogImg {
  width: 28vw;
  height: 30vh;
  background-color: white;
}

.blogText {
  color: #e3e2df;
  font-size: 1.5vw;
  font-weight: 500;
  margin-top: 1.5vh;
  display: grid;
  grid-template-columns: 3vw 25vw;
}

.blogIcon {
  color: #17e9e0;
  font-size: 2.2vw;
}