#homeVideo {
  width: auto;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.mainTitle {
  color: #660033;
  font-size: 3.5vw;
  font-weight: 700;
  z-index: 1;
  padding: 38vh 0 0 3vw;
}

.mainTitleLine2 {
  padding-left: 2vw;
}

.mainTitleName {
  color: #FF8B06;
  background-color: #17e9e0;
}