#project {
  background-color: #660033;
  width: 100vw;
  height: auto;
}

#projectCon {
  padding: 5vh 3vw 5vh 3vw;
  display: grid;
  grid-template-columns: 46vw 46vw;
  grid-column-gap: 2vw;
  grid-template-rows: 60vh 60vh;
  grid-row-gap: 2vh;
}

.preview {
  text-align: center;
  width: 46vw;
  height: auto;
  /* background-image: linear-gradient(to bottom right, #e3e2df, #9a1750); */
  border-radius: 2%;
}

.previewImg {
  width: 44vw;
  height: auto;
  padding: 1vw;
  background-color: #e3afbc;
  border-radius: 3%;
}

.previewTitle {
  font-family: 'Bungee Shade', cursive;
  font-size: 1.8vw;
  font-weight: 600;
  margin: 0 0 0.7vh 0;
  color:#e3afbc;
}